li {
    display: list-item;
    text-align:justify;
}
ul {
     
    text-align:justify;
}
#dist{position: relative;
}
.Angul5481{
    top: -294px;
    left: 776px;
    position: absolute;
}
.Balangir5482{
    top: -270px;
  left: 639px;
  position: absolute;
}
.Balasore5483{
    top: -346px;
  left: 955px;
  position: absolute;
}
.Bargarh5484{
    top: -328px;
  left: 679px;
  position: absolute;
}
.Bhadrak5485{
    top: -306px;
  left: 930px;
  position: absolute;
}
.Boudh5486{
    top: -277px;
  left: 736px;
  position: absolute;
}
.Cuttack5487{
    top: -263px;
  left: 877px;
  position: absolute;
}
.Deogarh5488{
    top: -348px;
  left: 785px;
  position: absolute;
}
.Dhenkanal5489{
    top: -284px;
  left: 844px;
  position: absolute;
}
.Gajapati5490{
    top: -138px;
  left: 746px;
  position: absolute;
}
.Ganjam5491{
    top: -185px;
    left: 770px;
    position: absolute;
}
.Jagatsinghapur5492{
    top: -238px;
    left: 922px;
    position: absolute;
}
.Jajpur5493{
    top: -294px;
  left: 895px;
  position: absolute;
}
.Jharsuguda5494{
    top: -369px;
  left: 705px;
  position: absolute;
}
.Kalahandi5495{
    top: -207px;
    left: 643px;
    position: absolute;
  }
  .Kandhamal5496{
    top: -223px;
    left: 718px;
    position: absolute;
  }
  .Kendrapara5497{
    top: -268px;
    left: 939px;
    position: absolute;
  }
  .Kendujhar5498{
    top: -361px;
  left: 845px;
  position: absolute;
  }
  .Khordha5499{
    top: -233px;
    left: 860px;
    position: absolute;
  }
  .Koraput5500{
    top: -124px;
  left: 619px;
  position: absolute;
  }
  .Malkangiri5501{
    top: -66px;
  left: 568px;
  position: absolute;
  }
  .Mayurbhanj5502{
    top: -383px;
    left: 905px;
    position: absolute;
  }
  .Nabarangpur5503{
    top: -177px;
  left: 592px;
  position: absolute;
}
.Nayagarh5504{
    top: -253px;
  left: 795px;
  position: absolute;
}
.Nuapada5505{
    top: -240px;
  left: 616px;
  position: absolute;
}
.bhubaneswar5505{
  top: -240px;
left: 770px;
position: absolute;
}
.Puri5506{
    top: -210px;
  left: 875px;
  position: absolute;
}
.Rayagada5507{
    top: -159px;
    left: 667px;
    position: absolute;
}
.Sambalpur5508{
    top: -336px;
    left: 738px;
    position: absolute;
}
.Subarnapur5509{
    top: -304px;
    left: 711px;
    position: absolute;
}
.Sundargarh5510{
    top: -411px;
    left: 738px;
    position: absolute;
}
