
.Nicobar5025{
  top: 498px;
  left: 903px;
  position: absolute;
  text-align: start;
}
#sid{
  border-radius: 5%;
}

li {
  display: list-item;
  text-align:justify;
}
ul {
  text-align:justify;
}
img{
  margin-left: -362px;
  margin-top: 3px;
  position: relative;
}
.states{
  position: fixed;
}
.Goa5035{
  top: 417px;
  left: 550px;
  position: absolute;
}
.AndhraPradesh5026{
  top: 419px;
  left: 636px;
  position: absolute;
}
.ArunachalPradesh5027{
  top: 174px;
  left: 871px;
  position: absolute;
}
.Assam5028{
  top: 215px;
  left: 875px;
  position: absolute;
}
.Bihar5029{
  top: 221px;
  left: 772px;
  position: absolute;
}
.Chandigarh5030{
  top: 128px;
  left: 547px;
  position: absolute;
}
.Chhattisgarh5031{
  top: 291px;
  left: 683px;
  position: absolute;
}
.DadraandNagarHaveli5032{
  top: 326px;
  left: 411px;
  position: absolute;
}
.Ladakh5264{
  top: 60px;
  left: 622px;
  position: absolute;
}
.DamanandDiu5033{
  top: 347px;
  left: 452px;
  position: absolute;
}
.Delhi5034{
  top: 170px;
  left: 620px;
  position: absolute;
}
.Gujarat5036{
  top: 276px;
  left: 527px;
  position: absolute;
}
.Haryana5037{
  top: 154px;
  left: 585px;
  position: absolute;
}
.HimachalPradesh5038{
  top: 106px;
  left: 622px;
  position: absolute;
}
.JammuandKashmir5039{
  top: 60px;
  left: 480px;
  position: absolute;
}
.Jharkhand5040{
  top: 256px;
  left: 739px;
  position: absolute;
}
.Karnataka5041{
  top: 449px;
  left: 571px;
  position: absolute;
}
.Kerala5042{
  top: 492px;
  left: 579px;
  position: absolute;
}
.Lakshadweep5043{
  top: 516px;
  left: 483px;
  position: absolute;
}
.MadhyaPradesh5044{
  top: 275px;
  left: 596px;
  position: absolute;
}
.Maharashtra5045{
  top: 341px;
  left: 564px;
  position: absolute;
}
.Manipur5046{
  top: 243px;
  left: 906px;
  position: absolute;
}
.Meghalaya5047{
  top: 231px;
  left: 838px;
  position: absolute;
}
.Mizoram5048{
  top: 282px;
  left: 877px;
  position: absolute;
}
.Nagaland5049{
  top: 221px;
  left: 924px;
  position: absolute;
}
.Odisha5050{
  top: 326px;
  left: 739px;
  position: absolute;
}
.Puducherry5051{
  top: 474px;
  left: 673px;
  position: absolute;
}
.Punjab5052{
  top: 111px;
  left: 570px;
  position: absolute;
}
.Rajasthan5053{
  top: 200px;
  left: 536px;
  position: absolute;
}
.Sikkim5054{
  top: 192px;
  left: 807px;
  position: absolute;
}
.TamilNadu5055{
  top: 492px;
  left: 631px;
  position: absolute;
}
.Tripura5056{
  top: 257px;
  left: 846px;
  position: absolute;
}
.UttarPradesh5057{
  top: 198px;
  left: 647px;
  position: absolute;
}
.Uttarakhand5058{
  top: 141px;
  left: 645px;
  position: absolute;
}
.WestBengal5059{
  top: 271px;
  left: 780px;
  position: absolute;
}
.Telangana5060{
  top: 373px;
  left: 636px;
  position: absolute;
}
